header {
    background-color: rgb(59, 89, 152);
}

h1 {
    color: white;
}

header>button {
    float: right;
}

header>input {
    float: right;
}

body {
    background-color: rgb(247, 247, 247);
}

.section1 {

    display: flexbox;
}